/* tells the browser to account for any border and padding in the values you specify for an element's width and height.  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* CUSTOM PROPERTIES */
:root {
  /* font family */
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;
  /* font weigth */
  --fw-reg: 300;
  --fw-bold: 900;
  /* font size */
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  /* color */
  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #16e0bd;
}

/* redefine the custom properties for large screens */
@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* GENERAL STYLES */

body {
  background-color: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

/* avoid overflow of images */
img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3 {
  line-height: 1.1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

.section__title {
  margin: 0.25em;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
  font-family: var(--ff-secondary);
  background: var(--clr-accent);
}
